.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 0 0;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  transition: ease 0.4s;
}

.modal__close-btn {
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url(../images/close-icon.svg);
  opacity: 40%;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #212121;
  transition: opacity 0.2s;
  cursor: pointer;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close-icon-white.svg);
  opacity: 1;
  transition: top 0.2s ease, right 0.2s ease;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: url("../images/hover-cursor.svg") 12 12, auto;
}

.modal__close_type_preview:hover {
  opacity: 40%;
  cursor: url("../images/hover-cursor.svg") 12 12, auto;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin-bottom: 32px;
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  box-sizing: border-box;
}

.modal__input:hover {
  cursor: url("../images/hover-cursor.svg") 12 12, auto;
  transition: 0.2s;
  border-color: #212121;
  opacity: 1;
}

.modal__input::placeholder {
  opacity: 0.3;
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  margin-top: 8px;
  font-weight: 500;
  line-height: 1.1;
}

.modal__error:empty {
  display: none;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  transition: opacity 0.3s;
}

.modal__submit-btn:hover {
  cursor: url("../images/hover-cursor.svg") 12 12, auto;
  opacity: 0.8;
}

.modal__submit-btn:disabled {
  opacity: 50%;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 1.25rem;
    margin: 0 0 34px;
  }

  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 12px 16px;
    width: 100%;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
    padding: 18px 118px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 1rem;
  }
}
