.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  padding: 0;
  color: #212121;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #212121;
  border: solid;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 1.25rem;
    margin: 0 0 34px;
  }

  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 12px 16px;
    width: 100%;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
    padding: 18px 118px;
  }
}
